@charset "UTF-8";

#adminmenu #menu-posts-linker div.wp-menu-image:before {
	content: "\f103";
}

.fixed .column-linker_clicks {
	width: 10%;
}

#linker_dashboard_widget tr td.border-bottom {
	padding: 4px 0 4px 0;
	border-bottom: 1pt solid #dddddd;
}

th#linker_permalink {
	width: 30%;
}

input.linker-permalink-copy-paste {
	width: 100%;
}